:root {
	--board-background: #ffffff;
	--border-color: #0086bb;
	--border-thickness: 3px;
}

.board {
	width: 22vw;
	height: 50%;
	background-color: var(--board-background);
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.gameinput {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(68, 68, 68);
	font-family: 'Bellefair', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 6rem;
}

.input-1 {
	border-right: var(--border-thickness) dashed var(--border-color);
	border-bottom: var(--border-thickness) dashed var(--border-color);
}

.input-2 {
	border-right: var(--border-thickness) dashed var(--border-color);
	border-bottom: var(--border-thickness) dashed var(--border-color);
}

.input-3 {
	border-bottom: var(--border-thickness) dashed var(--border-color);
}

.input-4 {
	border-right: var(--border-thickness) dashed var(--border-color);
	border-bottom: var(--border-thickness) dashed var(--border-color);
}

.input-5 {
	border-right: var(--border-thickness) dashed var(--border-color);
	border-bottom: var(--border-thickness) dashed var(--border-color);
}

.input-6 {
	border-bottom: var(--border-thickness) dashed var(--border-color);
}

.input-7 {
	border-right: var(--border-thickness) dashed var(--border-color);
}

.input-8 {
	border-right: var(--border-thickness) dashed var(--border-color);
}
