.info {
    margin: auto;
	width: 30vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: rgb(0, 0, 0);
}

.player {
	border: 1px solid #f6546a;
	border-radius: 5%;
	padding: .5rem 0;
	display: flex;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
	width: 10vw;
}
