video::-webkit-media-controls-timeline {
  visibility: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 125vh;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.forwordButton{
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  flex-direction: row;
  justify-content: space-around;
  opacity: 1;
  position: absolute;
  bottom: 80px;
  cursor: pointer;
 z-index: 1000;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 15px;
  padding: 2px;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.actions{
  margin-top: -10px;
  background-color: none;
  color: white;
  font-size: 30px;
}

.velocity {
  appearance: none;
  background: rgb(107, 107, 107);
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  text-align: center;
  font-size: 12px;
  border-radius: 25px;
  height: 20px;
  margin-left: 10px;
}

.mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.mute-btn{
  background-color: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.secondVideoElement {
  display: none;
}

.snapshotContainer {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: block;
  z-index: 1000;
  width: 150px;
  height: 80px;
  bottom: 145px;
  border: 2px solid white;
}

.snapshotImg {
  width: 100%;
  height: 100%;
}

.snapshotTime {
  color: white;
  font-weight: 600;
  font-size: 12px;
}

input[type="range"]:hover + .snapshotContainer {
  opacity: 1;
  visibility: visible;
}

.amount-progress {
  --bar-bg: #ffe3d4;
  --seek-before-width: 0;
  --seek-before-color: #ffc2a1;
  --knobby: #3452a5;
  --selectedKnobby: #26c9c3;

  width: 68vw;
  cursor: pointer;
  appearance: none;
  background: var(--bar-bg);
  position: relative;
  height: 4px;
  outline: none;
  bottom: 65px;
  z-index: 20;
}

.amount-progress::-webkit-slider-runnable-track {
  background: rgba(129, 129, 129, 0.9);
  position: relative;
  height: 4px;
  outline: none;
}


.amount-progress::-moz-range-track {
  background: var(--bar-bg);
  position: relative;
  height: 4px;
  outline: none;
}

.amount-progress::-moz-focus-outer {
  border: 0;
}

.amount-progress::before {
  content: "";
  height: 4px;
  width: var(--seek-before-width);
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}


.amount-progress::-moz-range-progress {
  background-color: var(--seek-before-color);
  height: 4px;
}

.amount-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background-color: red;
  cursor: pointer;
  position: relative;
  margin: -4px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

.amount-progress:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: white;
}

.amount-progress::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

.amount-progress:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

.duplicateRange{
     position: relative;
    bottom: 85px;
    height: 8vh;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 69vw;
}

.volumeControl{
  width: 10vw;
  height: 4px;
  cursor: pointer;
  appearance: none;
  --bar-bg: #ffe3d4;
  --seek-before-width: 0;
  --seek-before-color: #ffc2a1;
  --knobby: #3452a5;
  --selectedKnobby: #26c9c3;
  background: var(--bar-bg);
}
.volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background-color: red;
  cursor: pointer;
  position: relative;
  margin: -1px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}
.volumeControl::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}
.volumeControl:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: red;
}
.volumeControl::-moz-range-progress {
  background-color: red;
  height: 4px;
}
.volumeContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.volumeControlContainer{
  margin-top: -5px;
  margin-left: 10px;
}